/* This stylesheet is used to style the admin option form of the plugin. */

#icon-cm_icon {
    background: transparent url( '../assets/cm-icon.png' ) no-repeat -30px -33px;
    padding-right: 2px;
}

/* loading spinner */
.waiting {
    background: url("../assets/wpspin_light.gif") no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .waiting {
    /* on retina, use image that's scaled by 2 */
    background-image: url("../assets/wpspin_light-2x.gif");
    background-size: 20px 20px;
  }
}

.settings-form {
    padding: 10px 0;
}

.major-settings {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #eee;
    width: 269px;
}

.major-settings p {
    color: #7d7d7d;
}

.major-settings .submit {
    padding: 1.5em 0 0;
}

.help {
    text-align: right;
    margin-bottom: 0;
}

.help a {
    margin-right: 5px;
    font-size: 11px;
    font-style: normal;
    color: #29AAE2;
    text-decoration: none;
     -webkit-transition: color .1s ease-out;
    -moz-transition: color .1s ease-out;
    -o-transition: color .1s ease-out;
    transition: color .1s ease-out;
}

.help a:hover {
     color: #76D0E9;
}

.cm-error {
    background: #fbe5b9;
    color: #a48b5e;
    border: solid 1px #CFBC97;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-weight: bold;

}

.cm-error span {
    font-weight: normal;
}

.edit-credentials {
    display: none;
}
.successful-credentials .edit-credentials {
    display: block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    color: #29AAE2;
    width: 100px;
    -webkit-transition: color .1s ease-out;
    -moz-transition: color .1s ease-out;
    -o-transition: color .1s ease-out;
    transition: color .1s ease-out;
}

.successful-credentials .edit-credentials:hover {
    color: #76D0E9;
}

.successful-credentials .major-settings {
    display: none;
}

.current-list {
    clear: both;
    display: block;
}

.current-list h3 {
    color: #444;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    font-family: "Helvetica Neue",arial,Helvetica,sans-serif;
    margin: 0;
}
.current-list p {
    color: #959595;
    font-size: 23px;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 0
}

.current-list .unsub {
    font-size: 14px;
    font-weight: normal;
    margin-top: 5px;
}

.stats {
    width: 300px;
    overflow: hidden;
    float: left;
}

.sub-stats {
    margin-right: 10px;
    float: left;
    width: 40%;
}

.sub-stats h4 {
    font-size: 14px;
}

.sub-stats p span {
    color: #252525;
    font-size: 11px;
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}

.sub-stats p {
    color: #959595;
    font-size: 18px;
}

/* old wrapper being used error */

.old-wrapper {
    width: 400px;
}

.old-wrapper p {
    font-size: 14px;
    line-height: 1.2;
}