#cm_dashboard_widget h4 {
    background: transparent url('../assets/cm-icon-dashboard.png' ) no-repeat -6px -5px;
    color: #444;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    font-family: "Helvetica Neue",arial,Helvetica,sans-serif;
    margin: 0 0 10px 0;
    padding-left: 25px;
}

#cm_dashboard_widget .total-subs {
    color: #959595;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    margin: 0.5em 0;
}

#cm_dashboard_widget h5 {
    font-size: 12px;
    margin: 0;
}

#cm_dashboard_widget .stats {
    margin-top: 15px;
}
#cm_dashboard_widget .sub-stats {
    margin-bottom: 15px;
}

#cm_dashboard_widget .sub-stats p {
    display: inline-block;
    color: #959595;
    font-size: 18px;
    margin: 0.5em 1.2em 0 0;
}
#cm_dashboard_widget .sub-stats p span {
    color: #252525;
    font-size: 11px;
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}

#cm_dashboard_widget .cm-error {
    background: #fbe5b9;
    color: #a48b5e;
    border: solid 1px #CFBC97;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
